<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Fgrid>
            <version>0.1.0</version>
        </Magestore_Fgrid>
    </modules>
    <frontend>
        <routers>
            <fgrid>
                <use>standard</use>
                <args>
                    <module>Magestore_Fgrid</module>
                    <frontName>download-files</frontName>
                </args>
            </fgrid>
        </routers>
        <layout>
            <updates>
                <fgrid>
                    <file>fgrid.xml</file>
                </fgrid>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <fgrid>
                <class>Magestore_Fgrid_Model</class>
                <resourceModel>fgrid_mysql4</resourceModel>
            </fgrid>
            <fgrid_mysql4>
                <class>Magestore_Fgrid_Model_Mysql4</class>
                <entities>
                    <fgrid>
                        <table>freaks_quotes</table>
                    </fgrid>
                </entities>
            </fgrid_mysql4>
        </models>
        <resources>
            <fgrid_setup>
                <setup>
                    <module>Magestore_Fgrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fgrid_setup>
            <fgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fgrid_write>
            <fgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fgrid_read>
        </resources>
        <blocks>
            <fgrid>
                <class>Magestore_Fgrid_Block</class>
            </fgrid>
        </blocks>
        <helpers>
            <fgrid>
                <class>Magestore_Fgrid_Helper</class>
            </fgrid>
        </helpers>
    </global>
</config>